<div class="main-content">
    <!-- banner -->
    {{>banner}}
    <!-- dịch vụ -->
    <div class="flex  justify-between px-5 my-5">
        <div class="text-center w-56">
            <img class="mx-auto my-4" src="/img/tietkiem.jpg" alt="" class="">
            <h4 class="font-semibold text-xl">Mua hàng siêu
                tiết kiệm</h4>
            <p class="mt-1 font-light text-sm">Các sản phẩm luôn được bán với giá ưu đãi nhất
            </p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="/img/khuyenmai.jpg" alt="" class="">
            <h4 class="font-semibold text-xl">Khuyến mãi cực
                lớn</h4>
            <p class="mt-1 font-light text-sm">Được hưởng chương trình và các khuyến mãi cực
                lớn</p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="/img/chatluong.jpg" alt="" class="">
            <h4 class="font-semibold text-xl">Chất lượng</h4>
            <p class="mt-1 font-light text-sm">Nguyên liệu đảm bảo vệ sinh an toàn vệ sinh thực
                phẩm</p>
        </div>

        <div class="text-center w-56">
            <img class="mx-auto my-4" src="/img/thanhtoan.jpg" alt="" class="">
            <h4 class="font-semibold text-xl">Thanh toán dễ
                dàng</h4>
            <p class="mt-1 font-light text-sm">Trả tiền khi nhận hàng <br><span>(COD)</span>
            </p>
        </div>
    </div>

    <!-- products -->
    <!-- new -->
    <div class="px-10 my-20">
        <h1 class="text-3xl my-10 font-bold">Sản phẩm mới nhất</h1>
        {{#each products}}

             <div
            class="hover:border-1 flex flex-col relative transition-all ease-in-out hover:border-gray-300 hover:rounded-md hover:scale-95 hover:shadow-md hover:shadow-slate-500 p-3">
            <a class="proDetails flex-shrink-0" href="/product/{{this.img}}"><img class="w-full object-cover" src="${data.img}" alt=""></a>
            <span class="absolute bg-red-700 p-1 text-white text-sm bottom-[88%] right-[78%]">{{this.discount}}%</span>
            <div class="flex flex-col flex-1 mt-auto font-semibold my-4">
                <h1 class="text-xl  my-2">{{this.name}}</h1>
                <p class="text-red-700 mt-auto flex-shrink-0"><span class="text-lg ">{{this.price}}</span>
                        <span class="underline">đ</span>
                        <sub class="line-through font-light text-gray-600 text-sm italic "> {{this.price}}đ</sub>
                </p>

            </div>
            <button
                class="text-red-700 font-semibold bg-white border-2 mt-auto  border-red-700 rounded-md hover:bg-red-700 hover:text-white p-4 ">Mua
                Ngay
            </button>
        </div>
        {{/each}}
    </div>
</div>